

p{
    color: red;
}
#one {
    color: brown;
}
#two {
    color: yellow;
}
.ai{
    color: green;
}
.ml{
    color:blue;
}
.it{
    color:grey
}
.ece{
    color:blueviolet
}
#something{
    color:black
}
#rishi{
    color:blue
}